@use "variables" as *;

// Flex mixins
@mixin generate-flex-order-classes($prefix) {
  [class*="of-#{$prefix}"] {
    order: -999;
  }
  [class*="o1-#{$prefix}"] {
    order: 1;
  }
  [class*="o2-#{$prefix}"] {
    order: 2;
  }
  [class*="o3-#{$prefix}"] {
    order: 3;
  }
  [class*="o4-#{$prefix}"] {
    order: 4;
  }
  [class*="o5-#{$prefix}"] {
    order: 5;
  }
  [class*="o6-#{$prefix}"] {
    order: 6;
  }
  [class*="ol-#{$prefix}"] {
    order: 999;
  }
}

@mixin generate-flex-direction-classes($prefix) {
  [class*="fd0-#{$prefix}"] {
    flex-direction: column;
  }
  [class*="fd1-#{$prefix}"] {
    flex-direction: row;
  }
  [class*="fd2-#{$prefix}"] {
    flex-direction: column-reverse;
  }
  [class*="fd3-#{$prefix}"] {
    flex-direction: row-reverse;
  }
}

@mixin generate-justify-content-classes($prefix) {
  [class*="fj0-#{$prefix}"] {
    justify-content: start;
  }
  [class*="fj1-#{$prefix}"] {
    justify-content: center;
  }
  [class*="fj2-#{$prefix}"] {
    justify-content: end;
  }
  [class*="fj3-#{$prefix}"] {
    justify-content: space-between;
  }
  [class*="fj4-#{$prefix}"] {
    justify-content: space-around;
  }
  [class*="fj5-#{$prefix}"] {
    justify-content: space-evenly;
  }
}

@mixin generate-align-items-classes($prefix) {
  [class*="fa0-#{$prefix}"] {
    align-items: start;
  }
  [class*="fa1-#{$prefix}"] {
    align-items: center;
  }
  [class*="fa2-#{$prefix}"] {
    align-items: end;
  }
  [class*="fa3-#{$prefix}"] {
    align-items: stretch;
  }
  [class*="fa4-#{$prefix}"] {
    align-items: baseline;
  }
}

@mixin generate-flex-wrap-classes($prefix) {
  [class*="fwr0-#{$prefix}"] {
    flex-wrap: nowrap;
  }
  [class*="fwr1-#{$prefix}"] {
    flex-wrap: wrap;
  }
  [class*="fwr2-#{$prefix}"] {
    flex-wrap: wrap-reverse;
  }
}

// Non-responsive utilities
[class*="as0"] {
  align-self: auto;
}
[class*="as1"] {
  align-self: flex-start;
}
[class*="as2"] {
  align-self: center;
}
[class*="as3"] {
  align-self: flex-end;
}
[class*="as4"] {
  align-self: stretch;
}
[class*="as5"] {
  align-self: baseline;
}

[class*="js0"] {
  justify-self: auto;
}
[class*="js1"] {
  justify-self: flex-start;
}
[class*="js2"] {
  justify-self: center;
}
[class*="js3"] {
  justify-self: flex-end;
}
[class*="js4"] {
  justify-self: stretch;
}
[class*="js5"] {
  justify-self: baseline;
}

[class*="grow-0"] {
  flex-grow: 0;
}
[class*="grow-1"] {
  flex-grow: 1;
}

[class*="shrink-0"] {
  flex-shrink: 0;
}
[class*="shrink-1"] {
  flex-shrink: 1;
}

// Responsive flex classes
// XS
@include generate-flex-order-classes("xs");
@include generate-flex-direction-classes("xs");
@include generate-justify-content-classes("xs");
@include generate-align-items-classes("xs");
@include generate-flex-wrap-classes("xs");

// SM
@media (min-width: $breakpoint-sm) {
  @include generate-flex-order-classes("sm");
  @include generate-flex-direction-classes("sm");
  @include generate-justify-content-classes("sm");
  @include generate-align-items-classes("sm");
  @include generate-flex-wrap-classes("sm");
}

// MD
@media (min-width: $breakpoint-md) {
  @include generate-flex-order-classes("md");
  @include generate-flex-direction-classes("md");
  @include generate-justify-content-classes("md");
  @include generate-align-items-classes("md");
  @include generate-flex-wrap-classes("md");
}

// LG
@media (min-width: $breakpoint-lg) {
  @include generate-flex-order-classes("lg");
  @include generate-flex-direction-classes("lg");
  @include generate-justify-content-classes("lg");
  @include generate-align-items-classes("lg");
  @include generate-flex-wrap-classes("lg");
}
