@use "variables" as *;

// Basic utilities
.cover {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.vw100 {
  width: 100vw;
}

.dvw100 {
  width: 100dvw;
}

.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.dvh100 {
  height: 100dvh;
}

.hide {
  display: none;
}

// Visibility utilities (mobile-first)
// hide-sm = hide on sm and above
@media (min-width: $breakpoint-sm) {
  [class*="hide-sm"] {
    display: none !important;
  }
}

@media (min-width: $breakpoint-md) {
  [class*="hide-md"] {
    display: none !important;
  }
}

@media (min-width: $breakpoint-lg) {
  [class*="hide-lg"] {
    display: none !important;
  }
}

// Character width utilities
@mixin generate-ch-classes($max: 80) {
  @for $i from 1 through $max {
    [class*="ch#{$i}"] {
      max-width: #{$i}ch;
    }
  }
}

@include generate-ch-classes(80);
