@use "variables" as *;

// Basic utilities
.cover {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.hide {
  display: none;
}

// Visibility utilities
@media (max-width: #{$breakpoint-sm - 1px}) {
  [class*="hide-xs"] {
    display: none !important;
  }
}

@media (max-width: #{$breakpoint-md - 1px}) {
  [class*="hide-sm"] {
    display: none !important;
  }
}

@media (max-width: #{$breakpoint-lg - 1px}) {
  [class*="hide-md"] {
    display: none !important;
  }
}

@media (min-width: $breakpoint-sm) {
  [class*="show-xs"] {
    display: none !important;
  }
}

@media (min-width: $breakpoint-md) {
  [class*="show-sm"] {
    display: none !important;
  }
}

@media (min-width: $breakpoint-lg) {
  [class*="show-md"] {
    display: none !important;
  }
}

[class*="show-xs-only"] {
  display: none !important;
}
@media (max-width: #{$breakpoint-sm - 1px}) {
  [class*="show-xs-only"] {
    display: initial !important;
  }
}

[class*="show-sm-only"] {
  display: none !important;
}
@media (min-width: $breakpoint-sm) and (max-width: #{$breakpoint-md - 1px}) {
  [class*="show-sm-only"] {
    display: initial !important;
  }
}

[class*="show-md-only"] {
  display: none !important;
}
@media (min-width: $breakpoint-md) and (max-width: #{$breakpoint-lg - 1px}) {
  [class*="show-md-only"] {
    display: initial !important;
  }
}

[class*="show-lg-only"] {
  display: none !important;
}
@media (min-width: $breakpoint-lg) {
  [class*="show-lg-only"] {
    display: initial !important;
  }
}

// Character width utilities
@mixin generate-ch-classes($max: 80) {
  @for $i from 1 through $max {
    [class*="ch#{$i}"] {
      max-width: #{$i}ch;
    }
  }
}

@include generate-ch-classes(80);
